<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pu.zajhhaptaueuh.ztanphsop">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity android:name="pu.zajhhaptaueuh.ztanphsop.usecases.bikedetail.BikeDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".usecases.BaseActivity"
            android:parentActivityName=".usecases.bikedetail.BikeDetailActivity" />
        <activity
            android:name=".usecases.NotImplementedActivity"
            android:parentActivityName=".usecases.bikedetail.BikeDetailActivity" />

        <activity
            android:name=".usecases.bikedetail.ChatsActivity"
            android:label="@string/screen_title_chats"
            android:parentActivityName=".usecases.bikedetail.BikeDetailActivity" />
        <activity
            android:name=".usecases.bikedetail.ChaseMapActivity"
            android:label="@string/screen_title_sightings"
            android:parentActivityName=".usecases.bikedetail.BikeDetailActivity" />
        <activity
            android:name=".usecases.bikedetail.EditBikeActivity"
            android:label="@string/screen_title_bike_edit"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".usecases.bikedetail.BikeDetailActivity" />

    </application>

</manifest>
